Customer support of niat via email.json
{
  "name": "Customer support of niat via email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -80
      ],
      "id": "ed1e96eb-8902-419c-88a9-32572df2dda7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "UcTFEkBxLVQ3c5Xf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support",
              "description": "an email  that is used for the helping out a customer , they may be asking a NIAT services"
            },
            {
              "category": "other",
              "description": "any email that is not NIATrelated "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -176,
        -80
      ],
      "id": "0d8e906d-6895-45e9-b7e1-7dd7acb72e94",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -176,
        112
      ],
      "id": "d9d9d217-053b-4340-b525-a52d360ebddb",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wu3YECZ3L16u8lwN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "5c3d6cc9-a8da-4a0b-b0ad-0a091ca6d974",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "you are a customer support agent for Nxtwave institute of advance technologies. your job is to respond incoming emails with relevant information using your knowledge tool \n\ninstruction :\nyour response should be friendly and use emojis\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        -256
      ],
      "id": "24a2d1c1-1d68-4a67-8113-9098a4c995fc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access NIAT",
        "pineconeIndex": {
          "__rl": true,
          "value": "customersupport1",
          "mode": "list",
          "cachedResultName": "customersupport1"
        },
        "options": {
          "pineconeNamespace": "NIAT"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        -16
      ],
      "id": "fc324432-cfb2-49ca-8752-8188a0791207",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "K23FSWZikVrFznbl",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "bc9599ec-fe24-41d8-bffe-0baf5609b06e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "wu3YECZ3L16u8lwN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        192
      ],
      "id": "d84ca7b2-20cc-41db-aa19-2f8a3d45135a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dSNiVDJNoyCGZctj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "replyToSenderOnly": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        -240
      ],
      "id": "ed8e389f-4662-49f1-b572-72c4f5315862",
      "name": "Reply to a message",
      "webhookId": "54d1005f-51ca-4264-be48-69a03815a537",
      "credentials": {
        "gmailOAuth2": {
          "id": "UcTFEkBxLVQ3c5Xf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0ad7632-f3f7-4ffc-bfd9-cf18b0087740",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "981f94fa01fd7a78602759db153067b73fcdcc13ff8f969a093609f1bae84092"
  },
  "id": "9cdoHwymGTdX7Ik8",
  "tags": []
}